.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Style for the sign-in button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

/* Style for the sign-out button */
button.SignOut {
  background-color: #dc3545;
}

/* Style for the chat messages */
.message {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.message.sent {
  justify-content: flex-end;
  background-color: #007bff;
}

.message.sent p {
  color: white;
}

.message.received {
  justify-content: flex-start;
  background-color: #f8f9fa;
}

/* Style for user avatars */
.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Style for the chat input and send button */
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
